* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: saddlebrown;
}

#everything {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 30%;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}